// VENDOR

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../bower_components/font-awesome/scss/font-awesome";

// MODULES
@import '../sass/_moduls/_customMixins';
@import '../sass/_moduls/_customVariables';
@import '../sass/_moduls/_customFunctions';
@import '../sass/_moduls/_custom';


// Partials
//@import "_partials/reset";
@import "_partials/_header";

/* GENERAL */

html{
	box-sizing: border-box;
}

*,*:before,*:after{
	box-sixing: inherit;
}

body{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-webkit-appearance: none;
}

.group:before,
.menu:before,
.group:after,
.menu:after{
	content: " ";
	display: table;
}


.group:after,
.menu:after{
	clear: both;
}


.group,
.menu{
	*zoom: 1;
}

a:hover{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.menu{
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.menu li{
	float: left;
}

button{
	&:focus {
		outline: none !important;
	}

	&:active {
		outline: none !important;
	}
}


/* HEADER */
header{
	max-width: $page-width;
	margin: 0 auto;
	position: fixed;
	width: 100%;
    z-index: 110;

	.container{
		padding-left: 40px;
		padding-right: 40px;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		@media( max-width: 500px ){
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	nav{
		background-color: $page-color !important;
	}

	.navbar{
		border-radius: 0;
		margin-top: 0;
		border: none;
		margin-bottom: 0;
		min-height: 80px;

		.nav{
			float: right;
			margin-right: -30px;

			li{
				display: table;
				height: 80px;

				@media( max-width: 780px ){
					height: auto;
				}

				a{
					color: $white;
					text-transform: uppercase;
					/*line-height: 80px;*/
				    /*padding-left: 65px;
				    padding-right: 65px;*/
				    display: table-cell;
   					vertical-align: middle;
   					font-size: 14px;
   					letter-spacing: 0.5px;
   					font-weight: 500;

				    .menuSub{
				    	text-transform: uppercase;
				    	color: #004c6d;
				    	font-size: 11px;
				    	padding-top: 5px;

				    	span{
				    		&:after{
				    			content:" | ";
				    		}
				    	}

				    	span:last-child(){
				    		&:after{
				    			content:"";
				    		}
				    	}
				    }
				}
			}
		}

		.navbar-brand{
			height: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 80px;
			padding-right: 20px;

			@media( max-width: 640px ){
				padding-top: 20px;
				padding-left: 10px;
				padding-right: 0;
			}

			img{
				height: 100%;
				width: auto;
				padding-right: 40px;
				border-right: 1px solid #66cff1;

				@media( max-width: 640px ){
					max-width: 160px;
					height: auto;
					padding-right: 15px;
				}

				@media( max-width: 380px ){
					max-width: 130px;
					border: none !important;
					margin-top: 4px;
				}
			}
		}

		.myWafe-mark{
			float: left;
			line-height: 80px;
			display: inline-block;
			color: $headerColorFont;
			font-family: 'Open Sans', sans-serif;

			@media( max-width: 380px ){
				display: none !important;
			}

			span{
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
			}
		}

		.dropdown{
			float: left;

			.dropdown-toggle{
				background-color: transparent;
				border-radius: 0;
				border: none;
				outline: none;
				padding: 20px;
				line-height: 80px;
			    padding-top: 0;
			    padding-bottom: 0;
			    color: $headerColorFont;
			    text-transform: uppercase;
			    font-size: 10px;
			    box-shadow: none;

			    @media( max-width: 640px ){
			    	padding-left: 14px;
			    	padding-right: 14px;
			    }
			}

			.langLong{
				display: inline-block;

				@media (max-width: 640px){
					display: none;
				}
			}


			.langInShort{
				background-color: transparent;
				border-radius: 0;
				border: none;
				outline: none;
				padding: 20px;
				line-height: 80px;
			    padding-top: 0;
			    padding-bottom: 0;
			    color: $white;
			    display: none;

			    @media (max-width: 640px){
					display: inline-block;
					padding: 0;
				}
			}

			.dropdown-menu{
				.dropdown-item{
					float: none;
					display: block;
					text-align: center;
					color: $headerColorFont;
					text-transform: uppercase;
					font-size: 10px;
					padding: 5px 0;

					&:hover{
						color: $headerColorFont;
					}
				}
			}
		}

	}
}

/* MAIN */
main{
	max-width: $page-width;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;

	#myCarousel{
		max-width: 1100px;
    	margin: 0 auto;

    	@media( max-width: 775px ){
			padding-right: 40px;
    	}

		/*@media(max-width: 650px){
  			padding-left: 20px;
  			padding-right: 20px;
    	}*/

    	@media(max-width: 450px){
  			padding-left: 0px;
  			padding-right: 40px;
    	}

    	.carousel-inner {
    		/*padding: 0 60px;*/
    		max-width: 735px;
    		margin-left: 60px;

    		@media( max-width: 1000px ){
    			margin-left: 0;
    		}

    		@media(max-width: 775px){
    			padding: 0px;
    			max-width: 100%;
    		}

    		.item{
    			padding: 0;
    			max-width: 735px;
    			width: 100%;
    			height: 485px;

    			@media( max-width: 840px ){
    				margin-left: 20px;
    				margin-right: 20px;
    			}

    			@media( max-width: 775px ){
    				max-width: 100%;
    				margin: 0 auto;
					padding-left: 40px;
    				height: 420px;
    			}

    			@media( max-width: 510px ){
    				height: 485px;
    			}
    		}
    	}

		.carousel-indicators{
			margin: 0;
			left: 0;
			position: relative;
			bottom: 0;
			width: 100%;
			padding: 0 60px;
			margin-bottom: 60px;

			@media(max-width: 840px){
				width: 120px;
				margin: 0 auto;
				height: 120px;
				margin-top: 70px;
				margin-bottom: 200px;
				left: 20px;
			}

			@media(max-width: 440px){
				padding: 0 45px !important;
				height: 90px !important;
				width: 90px !important;
			}

			li.active{
				margin: 1px;

				.carousel-indicators-content{
					background: #fff;
	    			color: #00afe8;
				}
			}

			li{
				text-indent: 0;
				float: left;
				width: 19%;
				min-width: 120px;
				border: none;
				height: auto;
				background: transparent;
				color: $white;
				text-transform: uppercase;

				@media(max-width: 440px){
					width: 90px !important;
					height: 90px !important;
					padding: 0 !important;
				}

				@media(max-width: 1100px){
					padding: 0 10px;
				}

				@media(max-width: 840px){
					position: absolute;
					padding: 0;
					left: 0;
					top: 0;
				}

				&:nth-child(2){
					@media(max-width: 840px){
						top: -90px;
					}

					@media(max-width: 440px){
						top: -65px;
						left: -15px;
					}
				}

				&:nth-child(1){
					@media(max-width: 840px){
						left: -120px;
					}

					@media(max-width: 440px){
						left: -90px;
					}
				}

				&:nth-child(3){
					@media(max-width: 840px){
						left: 120px;
					}

					@media(max-width: 440px){
						left: 60px;
					}
				}
				&:nth-child(4){
					@media(max-width: 840px){
						top: 150px;
						left: -75px;
					}

					@media(max-width: 440px){
					    top: 95px;
    					left: -60px;
					}
				}
				&:nth-child(5){
					@media(max-width: 840px){
						top: 150px;
						left: 75px;
					}

					@media(max-width: 440px){
						top: 95px;
						left: 40px;
					}
				}

				.carousel-indicators-content{
					width: 120px;
					height: 120px;
					border-radius: 50%;
					line-height: 120px;
					border: 1px solid $white;
					background: transparent;
					transition: all 0.2s;
					font-size: 12px;
					font-weight: bold;
					letter-spacing: 2px;

					@media(max-width: 440px){
						width: 90px !important;
						height: 90px;
						line-height: 90px;
						margin: 0 auto !important;
					}

					&:hover{
						background: $white;
						color: $light-blue;
						transition: all 0.2s;
					}
				}

			}
		}
	}


	.post-header{
		padding-top: 45px;
		padding-bottom: 45px;

		.post-header-content{
			float: none;

			.post-header-title{
				color: $white;
				font-size: 85px;
				margin: 0px;
				font-weight: bold;

				@media( max-width: 1200px ){
					font-size: 60px;
				}

				@media( max-width: 850px ){
					font-size: 48px;
				}

				@media( max-width: 450px ){
					font-size: 25px;
				}
			}

			.post-header-text{
				color: $white;
				margin: 20px 0;
				font-size: 16px;

				@media( max-width: 850px ){
					font-size: 14px;
				}
				p{
					margin: 0;
				}
			}

			.post-header-link{
				color: $white;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 2px;

				@media( max-width: 850px ){
					color: #e8edf0;
				}
			}
		}

		.circle-menu{
			position: relative;

			.menu{
				li{
					width: 20%;

					.item-cover{
						width: 100px;
						height: 100px;
						border-radius: 50%;
						border: 1px solid $white;
						transition: all 0.2s;

						&:hover{
							background-color: $white;
							transition: all 0.2s;

							.menu-item{
								color: $light-blue;
								transition: all 0.2s;
							}
						}
					}

					.menu-item{
						color: $white;
						line-height: 100px;
						display: block;
						text-align: center;
						text-transform: uppercase;
						transition: all 0.2s;
					}
				}
			}
		}
	}
}

.moreLinkCenter{
	width: 100%;
	text-align: center;
	margin: 20px;
}

.moreLink{
	text-transform: uppercase;
	color: $light-blue;
	margin-right: 65px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;

	&:hover{
		color: $light-blue;
	}
}

.postHeader{
	position: relative;

	.post-header-filter{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(1,177,236, 0.5);
	}

	.post-header-img{
		background: url("../images/homeBackground.png");
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.product{
	max-width: 1280px;
	margin: 0 auto;

	.owl-carousel{
		padding: 60px 80px;

		@media( max-width: 840px ){
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 40px;
		}

		.owl-nav .owl-next{
			text-indent: -9999px;
			background: url("../images/rightCarouselHome.png") no-repeat;
			background-position: center center;
			height: 100%;
			float: right;
			width: 80px;
			margin-left: -80px;
			position: absolute;
			top: 0;
			right: 0px;

			@media( max-width: 840px ){
				width: 60px;
				background-position-y: 300px;
			}

			@media( max-width: 500px ){
				width: 30px;
				margin: 0;
			}
		}

		.owl-nav .owl-prev{
			text-indent: -9999px;
			background: url("../images/leftCarouselHome.png") no-repeat;
			background-position: center center;
			height: 100%;
			float: left;
			width: 80px;
			margin-left: -80px;
			position: absolute;
			top: 0;
			left: 80px;

			@media( max-width: 840px ){
				width: 60px;
				background-position-y: 300px;
			}

			@media( max-width: 500px ){
				width: 30px;
			}
		}

		.owl-item{
			padding: 0 80px;
			margin: 0 !important;
			border-top: 1px solid #e8edf0;
			border-bottom: 1px solid #e8edf0;

			@media( max-width: 840px ){
				border: none;
				padding: 0;
			}

			.productItem{
				padding-top: 60px;

				@media( max-width: 840px ){
					padding-top: 0;
				}

				.colImg{
					float: right;

					img{
						@media( max-width: 840px ){
							width: 75%;
							margin: 0 auto;
						}
					}

					@media( max-width: 840px ){
						float: left;
					}
				}

				.col-md-6{
					padding: 0;
				}

				.productCategory{
					text-transform: uppercase;
					color: $black;
					font-size: 11px;
					font-weight: bold;
				}

				.productTitle{
					color: $light-blue;
					font-size: 57px;
					margin-top: 55px;
					margin-bottom: 35px;
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;

					@media( max-width: 500px ){
						font-size: 35px;
					}
				}

				.productText{
					color: #99a9b3;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;

					p{
						line-height: 25px;
						font-size: 14px;
					}
				}

				.productMoreSection{
					margin-bottom: 60px;

					@media( max-width: 840px ){
						margin-top: 40px;
					}

					.productMoreLink{
						text-transform: uppercase;
						color: $light-blue;
						margin-right: 65px;

						@media( max-width: 500px ){
							margin-right: 35px;
							display: block;
							width: auto !important;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.sectionMainTitle{
	width: 100%;
	text-align: center;
	color: $black;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;

	@media( max-width: 500px ){
		font-size: 20px;
		line-height: 28px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.sectionMainTitleBorder{
	width: 60px;
	height: 1px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: $light-blue;

	@media( max-width: 500px ){
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.whoAreYou{
	font-family: 'Open Sans', sans-serif;

	.group{
		padding: 0;
		margin: 0;
	}

	.whoAreYouContent{
		padding-top: 25px;
	}

	.item{
		height: 560px;
		list-style: none;
		padding: 0;
		position: relative;

		@media( max-width: 1000px ){
			&:first-child(){
				display: block;
				float: none;
				width: 100%;
			}

			float: left;
			width: 50%;
		}

		@media( max-width: 480px ){
			width: 100% !important;
		}

		.itemFilter{
			position: absolute;
			background-color: rgba(187, 186, 186, 0.5);
			width: 100%;
			height: 100%;
		}

		.itemCircleCover{
			height: 100%;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;

			.itemCircle{
				width: 280px;
				height: 280px;
				border-radius: 50%;
				background: transparent;
				border: 1px solid $white;
				margin: 0 auto;
				position: relative;
				top: 140px;
				display: table;
				transition: all 0.2s;

				@media( max-width: 840px ){
					width: 185px;
					height: 185px;
				}

				&:hover{
					background-color: rgba(0, 175, 232, 0.7);
					border: none;
					transition: all 0.2s;

					.itemCircleSubTitle{
						color: $black;
						transition: all 0.2s;
					}
				}

				.itemCircleCenter{
					display: table-cell;
    				vertical-align: middle;
    				text-align: center;
				}

				.itemCircleTitle{
					margin: 0;
					color: $white;
					display: inline-block;

					.textCenter{
						text-align: left;
						font-size: 28px;

						@media( max-width: 840px ){
							font-size: 19px;
						}
					}
				}

				.itemCircleSubTitle{
					color: $white;
					display: block;
					width: max-content;
					transition: all 0.2s;
					font-size: 18px;

					@media( max-width: 840px ){
						font-size: 12px;
					}
				}
			}
		}

		.itemCover{
			height: 100%;
			background-position: center center !important;
			background-size: cover !important;
			filter: grayscale(80%); /* Current draft standard */
		    -webkit-filter: grayscale(80%); /* New WebKit */
		    -moz-filter: grayscale(80%);
		    -ms-filter: grayscale(80%);
		    -o-filter: grayscale(80%); /* Not yet supported in Gecko, Opera or IE */
		    filter: url(resources.svg#desaturate); /* Gecko */
		    filter: gray; /* IE */
		    -webkit-filter: grayscale(0.8); /* Old WebKit */
		}
	}
}

.beOurPartner{
	position: relative;

	.partnerFilter{
		background: url("../images/beourpartner.png") no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		background-position-y: -36px;
		background-size: cover;
	}

	.beOurPartnerContent{
		background-color: rgba(255, 255, 255, 0.93);
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 75px;
		padding-bottom: 10px;

		@media( max-width: 840px ){
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 40px;
		}

		@media( max-width: 500px ){
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;

			/*.moreLinkCenter{
				text-align: left;
			}*/
		}

		.moreLinkCenter{
			margin-left: 0;
			margin-right: 0;

			@media( max-width: 800px ){
				margin-bottom: 60px;
			}

			.moreLink{
				margin-right: 0;
			}
		}
	}

	.beOurPartnerText{
		text-align: center;
		max-width: 810px;
		margin: 0 auto;
		color: #99a9b3;
		margin-bottom: 50px;
		line-height: 28px;
		font-size: 16px;

		@media( max-width: 880px ){
			max-width: 600px;
		}

		@media( max-width: 840px ){
			margin-bottom: 120px;
		}

		@media( max-width: 500px ){
			margin-bottom: 40px;
			font-size: 14px;
			line-height:25px;
		}

		p{
			margin: 0;
		}
	}
}

.contact{
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	max-width: 1280px;
	margin: 0 auto;

	@media( max-width: 500px ){
		padding-top: 40px;
	}

	.group{
		padding-top: 40px;
	}

	.contactSocial{
		padding: 0;
		display: inline-block;
		width: 42%;

		@media( max-width: 840px ){
			width: 100%;
			padding-left: 80px;
			padding-right: 0px;
		}

		@media( max-width: 400px ){
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}

		.contactSocialContent{
			padding-left: 145px;
			padding-right: 130px;
			padding-bottom: 60px;
			font-size: 16px;
			color: black;

			@media( max-width: 1300px ){
				padding-left: 50px;
				padding-right: 20px;
			}

			@media( max-width: 840px ){
				padding: 0;
				padding-top: 15px;
			}

			.contactSocialTitle {
				color: $light-blue;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 30px;

				@media( max-width: 840px ){
					font-size: 24px;
				}

				span {
					font-weight: normal;
				}
			}

			.contactSocialWayTitle, strong {
				text-transform: uppercase;
				color: #99a9b3;
				margin-bottom: 15px;
				font-size: 10px;
				font-weight: bold;
			}
			.contactSocialText{
				color: $black;
				font-size: 16px;
				margin-bottom: 30px;
			}

			.desc{
				p{
					color: #99a9b3;
					margin-bottom: 0;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}

		.contactSocialIcons{
			margin-top: 70px;

			@media( max-width: 840px ){
				margin-top: 70px;
				margin-bottom: 70px;
				text-align: center;
			}

			.contactSocialIcon{
				display: inline-block;
				margin-right: 55px;

				@media( max-width: 400px ){
					margin-right: 10px;
					margin-left: 10px;
				}
			}
		}
	}

	.mapCenter{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.contactMap{
		padding: 0;
		display: inline-block;
		background: url("../images/contactMap.png");
		background-position: -320px -118px;
		width: 57%;
		height: 600px;
		display: table;

		@media( max-width: 1000px ){
			width: 100%;
			margin: 0 auto;
			margin-bottom: -30px;
			background-position: center center;
		}

		.mapDes{
			background: $white;
			display: inline-block;
			width: 215px;
			height: 140px;
			border-radius: 10px;
			position: relative;

			p{
				padding-top: 35px;
			}

			.triangle{
				width: 30px;
				height: 30px;
				background: $white;
				-ms-transform: rotate(45deg); /* IE 9 */
			    -webkit-transform: rotate(45deg); /* Safari */
			    transform: rotate(45deg);
			    position: absolute;
			    bottom: -10px;
			    left: 50%;
			    margin-left: -15px;
			}
		}

		.mapPointer{
			position: relative;
			top: 23px;

			.mapPosition{
				display: inline-block;
				position: relative;
			}

			.mapPointerDot{
				position: absolute;
				top: 7px;
				left: 6px;
				z-index: 100;
			}
		}
	}
}

/* FOOTER */
footer{
	max-width: $page-width;
	margin: 0 auto;
	background-color: $page-color;
	border-radius: 5px;
	padding: 70px 0;
	position: relative;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;

	.container{
		padding: 0 110px;

		@media( max-width: 840px ){
			padding: 0 65px;
		}
	}

	@media( max-width: 840px ){
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.footer-menu{
		position: relative;

		.footer-list{
			float: left;
			padding-left: 0;

			li{
				list-style: none;
				display: inline-block;
				margin-right: 50px;
				font-size: 12px;
				font-weight: bold;

				@media( max-width: 840px ){
					display: block;
				}

				.list-item{
					text-transform: uppercase;
					color: #e8edf0;
					margin-bottom: 20px;
					display: block;

					&:hover{
						text-decoration: none;
					}
				}
			}
		}

		.footer-trade{
			color: #e8edf0;
			float: right;

			&:hover{
				text-decoration: none;
			}
			span{
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}

	.socialfooterMobile{
		display: none !important;
		position: absolute !important;
		bottom: 0 !important;
		right: 0 !important;

		.social-icons{
			li{
				float: none !important;
				display: inline-block !important;

				a{

				}
			}
		}

		@media( max-width: 840px ){
			display: block !important;
		}
	}

	.social{
		display: table;
		padding-top: 80px;

		@media( max-width: 840px ){
			display: block;
			position: relative;
			padding-top: 40px;
		}

		.footer-logo{
			display: table-cell;
			vertical-align: middle;
			padding-right: 15px;

			@media( max-width: 840px ){
				display: block;
				padding: 0;
				max-width: 105px;
				text-align: center;
				margin: 0 auto;
			}

			img{
				@media( max-width: 840px ){
					display: inline-block;
					padding: 0;
				}
			}
		}

		.social-icons{
			float: none !important;
			display: table-cell;
			vertical-align: middle;

			@media( max-width: 840px ){
				display: block;
				position: absolute;
				top: -60px;
				right: 0;
				margin: 0;
			}

			li{
				@media( max-width: 840px ){
					display: inline-block;
				}

				a{
					color: #e8edf0;

					&:hover{
						background-color: transparent;
					}
				}
			}

			li:last-child(){
				a{
					padding-right: 0;
				}
			}
		}
	}

	.rights{
		position: absolute;
   		bottom: 0;
    	right: 0;

    	@media( max-width: 840px ){
    		position: relative;
    		width: 100%;
    		display: block;
    		text-align: center;
    		margin-top: 20px;
    	}

		p{
			text-align: right;
			color: $white;

			@media( max-width: 840px ){
				text-align: center;
			}
		}
	}
}

.positionRelative{
	position: relative;
}

/* GENERAL HEADER */

@media (max-width: 10000px) {
	.navbarHeader{
	  .navbar-header {
	      float: none;
	  }

	  .navbar-left,.navbar-right {
	      float: none !important;
	  }
	  .navbar-toggle {
	      display: block;
	  }
	  .navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    position: fixed !important;
	    top: 0px;
	   	background-color: #00c0ff !important;
	  	height: 100% !important;

	  	.nav{
	  	    background-color: #00afe8;
	  	    padding-top: 80px !important;
	  	}
	  }

	  /*.in{
	  	position: fixed !important;
	  	height: 100% !important;
	  	background-color: #00c0ff !important;

	  	.nav{
	  	    background-color: #00afe8;
	  	    padding-top: 80px !important;
	  	}
	  }*/

	  .navbar-fixed-top {
	      top: 0;
	      border-width: 0 0 1px;
	  }
	  .navbar-collapse.collapse {
	      display: none!important;
	  }
	  .navbar-nav {
	      float: none!important;
	      margin-top: 7.5px;
	  }

	  .navbar-nav > .active > a{
	  	background-color: transparent !important;
	  	color: #e8edf0 !important;
	  }

	  .navbar-nav>li {
	      float: none;
	  }
	  .navbar-nav>li>a {
	      padding-top: 10px;
	      padding-bottom: 10px;
	  }
	  .collapse.in{
	      display:block !important;
	  }
	}

	.navbarHome{
		.loginSection{
	  		display: none !important;
	  	}
	}
}

@media (max-width: 1200px) {
	.navbarHome{
	  .navbar-header {
	      float: none;
	  }

	  .loginSection{
	  	display: inline-block !important;
	  }

	  .navbar-left,.navbar-right {
	      float: none !important;
	  }
	  .navbar-toggle {
	      display: block;
	  }
	 /* .navbar-collapse {
	      border-top: 1px solid transparent;
	      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	  }*/

	  .navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    position: fixed !important;
	    top: 0px;
	   	background-color: #00c0ff !important;
	  	height: 100% !important;
	  	width: 100%;
	  	left: 0 !important;
	  	margin: 0 !important;
	  	padding: 0 !important;

	  	.nav{
	  	    background-color: #00afe8;
	  	    padding-top: 80px !important;
	  	}
	  }
	  .navbar-fixed-top {
	      top: 0;
	      border-width: 0 0 1px;
	  }
	  .navbar-collapse.collapse {
	      display: none!important;
	  }
	  .navbar-nav {
	    margin: 0;
	    padding-top: 50px;
	    float: right !important;
	    /* width: 635px; */
	    width: 45%;
	    height: 100%;
	  }
	  .navbar-nav>li {
	      float: none;
	  }
	  .navbar-nav>li>a {
	      padding-top: 10px;
	      padding-bottom: 10px;
	  }
	  .collapse.in{
	      display:block !important;
	  }
	}
}

.navbar-default{
	.dropdown{
		.dropdown-toggle{

			img{
				padding-left: 5px;
			}
		}
	}

	.navbar-header{
		float: right;
		margin-right: 0;
		padding-left: 15px;
	}

	.menuX{
		margin: 0 !important;
		position: absolute;
		top: 30px;
		right: 30px;
		/*margin-top: 30px;
		margin-right: 30px;*/

		img{
			position: relative;
			top: -6px;
		}
	}

	.navbar-toggle{
		border: none;
	    margin-right: 50px;
	    margin-top: 24px;

		&:hover,
		&:focus{
			background: transparent !important;
		}

		@media( max-width: 640px ){
			margin-right: 30px;
		}

		.menuMenu{
			position: absolute;
		    right: -33px;
		    top: 9px;
		    text-transform: uppercase;
		    color: $white;
		    padding-left: 30px;
		    font-size: 10px;
		}

		.icon-bar{
			 background-color: $white;
			 height: 2px;
			 width: 14px;
		}
	}

	.navbar-collapse{
		/*background-color: #00c0ff;*/

		@media( max-width: 1200px ){
			margin-top: 80px;
	   		border: none;
	   		box-shadow: none;
	   		background-color: #33bfed;
	   		margin-left: 0;
	   		margin-right: 0;
	   		margin-left: 15px;
	   		margin-right: 15px;
		}

		.nav{
			/*background-color: #00afe8;*/

			@media( max-width: 1200px ){
	   			margin: 0;
	   			padding-top: 50px;
	   			float: none;
	   		}
   		}
	}

	.nav{
		@media( max-width: 1200px ){
			li{
				height: auto;
				display: block !important;

				a{
					padding-left: 65px;
					padding-right: 65px;
					display: block;
					font-size: 28px !important;
					font-weight: bold !important;
					letter-spacing: 1px;
					color: #e8edf0 !important;

					@media( max-width: 780px ){
						padding-left: 20px;
					    padding-right: 20px;
					    font-size: 18px !important;
					}

					@media( max-width: 400px ){
						font-size: 14px !important;
					}

					@media( max-width: 300px ){
						font-size: 12px !important;
					}
				}
			}
		}
	}
}

.navbarHome{
	@media( max-width: 600px ){
		.myWafe-mark{
			padding-left: 13% !important;
			color: $white !important;
		}
	}

	@media( max-width: 420px ){
		.myWafe-mark{
			padding-left: 0% !important;
			float: right !important;
		}
	}
}

.navbarHeader{
	.nav{
		li{
			height: auto;
			display: block !important;

			a{
				padding-left: 65px;
				padding-right: 65px;
				display: block;
				font-size: 28px !important;
				font-weight: bold !important;
				letter-spacing: 1px;
				color: #e8edf0 !important;

				@media( max-width: 780px ){
   					padding-left: 20px;
   					padding-right: 20px;
   					font-size: 18px !important;
   				}

   				@media( max-width: 400px ){
   					font-size: 14px !important;
   				}
			}
		}
	}

	.navbar-collapse{
		margin-top: 80px;
   		border: none;
   		box-shadow: none;
   		background-color: #00afe8;
   		margin-left: 0;
   		margin-right: 0;
   		/*margin-left: 15px;
   		margin-right: 15px;*/
   		position: absolute;
   		width: 100%;
   		left: 0;
   		padding: 0;
   		top: -80px;

   		.nav{
   			margin: 0;
   			padding-top: 50px;
   			float: right !important;
   			/*width: 635px;*/
   			width: 45%;
   			height: 100%;
   		}
	}

	.dropdown-toggle{
		color: $white !important;
	}

	.navbar-toggle{
		padding-left: 90px;

		.myWafe-mark{
			float: right !important;
			color: $white !important;
			position: absolute;
			top: 9px;
			line-height: 1;
			left: 0;

			@media( max-width: 390px ){
				display: none !important;
			}
		}

		@media( max-width: 1100px ){
			margin-right: 40px;
		}

		@media( max-width: 430px ){
			padding-left: 75px;
		}

		@media( max-width: 390px ){
			padding-left: 0px;
		}
	}
}

.navbarHomePage{
	.navbar-toggle>span{
		display: none;

		@media( max-width: 1100px ){
			display: block;
		}
	}

	.navbar-toggle{
		padding-left: 0;
		margin-right: 0;

		.myWafe-mark{
			line-height: 1 !important;
			color: #004c6d !important;

			@media( max-width: 1100px ){
				position: absolute;
				left: 0px;
				color: $white !important;
			}

			@media( max-width: 390px ){
				display: none !important;
			}
		}

		@media( max-width: 1100px ){
			margin-right: 40px;
			padding-left: 90px;
		}

		@media( max-width: 430px ){
			padding-left: 75px;
		}

		@media( max-width: 390px ){
			padding-left: 0px;
		}
	}

	.dropdown-toggle{
		color: #004c6d !important;

		@media( max-width: 1100px ){
			color: $white !important;
		}
	}

	.navbar-header{
		float: none;
		display: inline-block;
		padding-left: 0;

		@media( max-width: 1100px ){
			float: right;
		}
	}

	.headerLinksMenu{
		display: inline-block;
		float: right;

		@media( max-width: 1100px ){
			display: none;
		}

		.menu{
			li{
				a{
					text-transform: uppercase;
					font-weight: bold;
					font-size: 12px;
					color: $white;
					font-family: 'Montserrat', sans-serif;
					letter-spacing: 2px;
					padding: 15px;
					line-height: 80px;

					@media( max-width: 1200px ){
						padding: 10px;
					}

					@media( max-width: 1130px ){
						padding: 6px;
					}

					&:hover{
						color: #004c6d !important;
					}
				}
			}

			li:last-child{
				a{
					padding-right: 0 !important;
				}
			}
		}
	}
}

.basicPostHeader{
	padding-top: 75px;
	height: auto;
	padding-bottom: 150px;
}

.basicPostHeaderTitle{
	width: 100%;
	font-size: 43px;
	text-align: center;
	color: $black;
	margin: 0;
	margin-bottom: 75px;
}

.basicPostHeaderSubTitle{
	text-transform: uppercase;
	color: #111 !important;
	font-size: 12px;
	font-weight: bold;
}

.basicPostHeaderText{
	p{
		margin: 0;
		color: #111;
		font-size: 14px;
		line-height: 20px;
	}
}

.productPostHeader{
	font-family: 'Montserrat', sans-serif;

	.productPostHeaderTitle{
		width: 100%;
	    font-size: 43px;
		text-align: center;
		color: $black;
		margin: 0;
	    margin-bottom: 75px;
	}

	.menu{
		text-align: center;

		@media( max-width: 840px ){
			padding: 0 40px;
		}

		.itemCover{
			display: inline-block;

			@media( max-width: 840px ){
				width: 32.5%;
				float: none;
				display: inline-block;
			}

			.item{
				p{
					text-transform: uppercase;
					color: #111;
					margin-top: 30px;
					font-weight: bold;
				}
			}
		}
	}
}

.listOfProduct{
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 120px;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;

	@media( max-width: 840px ){
		padding-bottom: 70px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media( max-width: 450px ){
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.productItemImage{
		max-width: 450px;
	}

	.productItemLeft{
		.productItemImage{
			float: right;

		}
	}

	.productItemRight{
		.productItemImage{
			float: left;
			position: relative;
    		right: 100%;
		}

		.productItemContent{
			position: relative;
			left: 50%;
		}
	}

	.productItem{
		padding-top: 50px;
		padding-bottom: 50px;

		.group{
			display: table;
		}

		.productItemContent{
			float: none;
		    vertical-align: middle;
		    display: table-cell;
		    padding: 0 10px;
			text-align: left;
			width: 50%;

			@media( max-width: 840px ){
				left: 0;
				width: 100%;
			}

			.productItemTitle{
				color: $light-blue;
				font-size: 59px;
				font-weight: bold;
				text-transform: uppercase;

				@media( max-width: 500px ){
					font-size: 40px !important;
				}

				@media( max-width: 450px ){
					font-size: 25px !important;
				}

				span{
					color: #111;
					font-weight: normal;
				}
			}

			.productItemSubTitle{
				text-transform: uppercase;
				color: #111;
				margin: 20px 0;
				font-size: 12px;
				font-weight: bold;
			}
		}

		.productItemText{
			p{
				color: #111;
				font-size: 14px;

				@media( max-width: 840px ){
					margin-bottom: 30px;
				}
			}
		}

		.moreLink{
			margin-right: 30px !important;
		}
	}

	.productItemImage{
		width: 100%;
		padding: 0 10px;

		@media( max-width: 840px ){
			display: none;
		}
	}

	.productItemMobile{
		text-align: center;


		@media( min-width: 840px ){
			display: none;
		}
	}
}

.nonbindingOrderDetailMobile{
	display: none !important;

	@media( max-width: 840px ){
		display: block !important;
	}
}

.nonbindingOrder{
			color: $white;
			display: inline-block;

			@media( max-width: 840px){
				float: right;
			}

			&:hover{
				color: $white;
			}

			.nonbindingOrderContent{
				display: block;
				padding-left: 120px;
				padding-right: 30px;
				margin-top: 40px;
				padding-top: 10px;
				padding-bottom: 10px;
				background: url("../images/demandbutton.png") no-repeat;
				background-size: cover !important;
				font-weight: bold;

				span{
					color: #a563d8;
					font-weight: normal;
					display: block;
				}
			}
		}

.unbound-demand{
	padding: 20px 160px 15px 270px;
	background: url("../images/poptavka.png") center center no-repeat;
	max-width: 100%;
	background-size: cover;
	margin: 0 auto;

	@media( max-width: 800px ){
		padding-left: 40px;
		padding-right: 40px;
		background-position: center right;
	}

	@media( max-width: 450px ){
		padding-left: 20px;
		padding-right: 20px;
	}

	.productDemandTitle{
		color: $white;
		font-weight: 400;
		text-align: left;
		margin-top: 0px;
	}

	.productDemandText{
		color: #a563d8;
		text-align: left;

		span{
			display: block;
			font-size: 13px;
			margin: 10px 0;
		}

		p{
			font-size: 16px;
			margin-bottom: 0;
		}
	}
}

.basicPage{
	color: #111;
	text-align: center;

	.basicPostHeader{
		background: url("../images/productpostheader.png") center center;
	}

	.productDeatailTitle{
		color: $light-blue;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 59px;
		font-weight: bold;

		@media( max-width: 450px ){
			font-size: 43px;
		}

		span{
			color: #111;
			font-weight: normal;
		}
	}

	.basicPostHeaderText{
		max-width: 900px;
		margin: 0 auto;
		margin-top: 20px;
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

.productDetailPostHeader{
	@media( max-width: 840px ){
		padding-bottom: 40px;
		background: url(../images/basicheader.png) center center !important;
	}
}

.productDetailPage{
	.productDetailImage{
		margin-top: -120px;

		@media( max-width: 840px ){
			display: none;
		}
	}

	.basicPostHeaderText{
		@media( max-width: 450px ){
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.productDetailImageMobile{
		display: none;
		margin-top: 50px;

		img{
			max-width: 450px;
			height: auto;

			@media( max-width: 500px ){
				width: 75%;
			}
		}

		@media( max-width: 840px ){
			display: block;
		}
	}

	.productDesc{
		padding-left: 65px;
		padding-right: 65px;
		max-width: 1280px;
		margin: 0 auto;
		font-family: 'Open Sans', sans-serif;

		.group{
			.col-md-6{
				@media( max-width: 840px ){
					padding-left: 40px;
					padding-right: 40px;
					padding-top: 50px;
				}

				@media( max-width: 450px ){
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 15px;
				}
			}
		}

		@media( max-width: 840px ){
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 50px;
		}

		.productDescTitle{
			color: #111;
			text-align: left;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 30px;

			@media( max-width: 450px ){
				font-size: 20px;
				line-height: 27px;
			}
		}

		.productDescText{
			color: #111;
			text-align: left;
			padding-bottom: 60px;

			p{
				font-size: 14px;
				line-height: 25px;

				span{
					font-weight: bold;
				}
			}
		}
	}

	.techParam{
		padding-left: 75px;

		@media( max-width: 1270px ){
			padding-left: 10px;
		}

		@media( max-width: 1000px ){
			padding-bottom: 20px;;
		}

		@media( max-width: 840px ){
			padding-bottom: 0px;
		}
	}
}

.paramTable{
    border-collapse: collapse;
    width: 100%;


    .paramTableItem {
	    text-align: left;
	    margin-bottom: 1px;

	    @media( max-width: 600px ){
	    	width: 100%;
	    }

	    @media( max-width: 460px ){
	    	display: table;
	    }

	    .itemTable{
	    	display: inline-block;
	    	padding: 8px;
	    	border-radius: 3px;
	    	color: #111;
	    	font-size: 12px;

	    	&:first-child(){
	    		font-weight: bold;
	    	}
	    }

	    .itemTable:first-child(){
	    	max-width: 310px;
	    	width: 100%;
	    	margin-right: 1px;

	    	@media( max-width: 1150px ){
	    		width: 64.5% !important;
	    	}

	    	@media( max-width: 600px ){
	    		width: 64.5% !important;
	    	}

	    	@media( max-width: 460px ){
	    		float: none;
	    		width: 60% !important;
	    		display: table-cell;
	    		vertical-align: middle;
	    	}

	    	@media( max-width: 400px ){
	    		width: 57% !important;
	    	}
	    }

	    .itemTable:last-child(){
	    	max-width: 160px;
	    	width: 100%;
	    	margin-left: -3px;

	    	@media( max-width: 1150px ){
	    		width: 35% !important;
	    	}

	    	@media( max-width: 600px ){
	    		width: 35% !important;
	    	}

	    	@media( max-width: 460px ){
	    		float: none;
	    		width: 40% !important;
	    		display: table-cell;
	    		vertical-align: middle;
	    	}

	    	@media( max-width: 400px ){
	    		width: 43% !important;
	    	}
	    }
	}

	.itemEven{
	    .itemTable{
	    	background-color: #f6f6f6;

	    }
	}

	.itemOdd{
		.itemTable{
	    	background-color: #ebebeb;
		}
	}
}

.productdetailListImages{
	background-color: #f6f6f6;
	padding: 10px;

	.productdetailListImg{
		display: inline-block;

		@media( max-width: 840px ){
			display: block;
			width: 100%;
			margin: 0 auto;
			margin: 5px 0;
		}
	}

	@media( max-width: 840px ){
		display: none;
	}
}

.productdetailListImagesMobile{
	display: none;

	@media( max-width: 840px ){
		display: block;
	}
}

.productdetailUses{
	padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1280px;
    margin: 0 auto;

    @media( max-width: 840px ){
		padding-left: 0;
		padding-right: 0;
	}

	.productdetailUsesImg{
		display: inline-block;
		width: 33%;
		height: 260px;
		height: auto;
		text-align: left;
		float: left;

		@media( max-width: 840px ){
			display: none;
		}
	}

	.productdetailUsesImgMobile{
		display: none;
		text-align: center;

		img{
			@media( max-width: 550px ){
				width: 100%;
			}
		}

		@media( max-width: 840px ){
			display: block;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 60px;
		}
	}

	.productdetailContent{
		display: inline-block;
		width: 67%;
		text-align: left;
		float: right;
		padding-left: 35px;

		@media( max-width: 840px ){
			padding-left: 0px;
			width: 100%;
		}

		.productdetailUsesTitle{
			color: #111;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 30px;
			padding-left: 40px;
			padding-right: 40px;

			@media( max-width: 840px ){
				margin-bottom: 50px;
				text-align: left;
			}

			@media( max-width: 450px ){
				font-size: 25px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.productdetailUsesText{
			p{
				color: #111;
				margin-bottom: 15px;
				font-size: 14px;
				padding-left: 40px;
				padding-right: 40px;

				@media( max-width: 840px ){
					text-align: left;
				}

				@media( max-width: 450px ){
					padding-left:	20px;
					padding-right: 20px;
				}
			}
		}
	}

}

.productDetailTableSection{
	padding: 60px 80px;
	max-width: 1280px;
	margin: 0 auto;

	@media( max-width: 1300px ){
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 70px;
		padding-top: 0;
	}

	@media( max-width: 535px ){
		padding-left: 30px;
		padding-right: 30px;
	}

	.tableSection-table-cover{
		.tableSection-table{
			.table-Table{
					.itemTableTypeDownload{
						width: 40px;
						height: 40px;
						position: relative;

						@media( max-width: 1030px ){
							width: 90px;
							height: 90px !important;
							position: relative;
							position: absolute;
						    right: 0;
						    top: 0;
						}

						a{
							display: block;
							width: 40px;
							height: 40px;
							position: absolute;
							top: 0;
							left: 0;
							text-align: center;

							img{
								position: relative;
								top: 9px;
							}
						}
					}

					.tableHeader{
						text-align: left;
						margin-bottom: 15px;

						@media( max-width: 1030px ){
							display: none;
						}
					}

					.tableHeaderItem{
						display: inline-block;
						text-align: left;
						margin: 0.5px;
						float: left;
						font-size: 14px;
						color: #111;
					}

					.itemTableType{
						max-width: 275px;
						width: 100%;

						@media( max-width: 1030px ){
							color: #999 !important;
							margin-bottom: 10px !important;
						}
					}

					.itemTableCat{
						max-width: 160px;
						width: 100%;

						@media( max-width: 1250px){
							display: none !important;
						}
					}

					.itemTableProd{
						max-width: 75px;
						width: 100%;

						@media( max-width: 1250px){
							display: none !important;
						}
					}

					.itemTableTypeName{
						max-width: 230px;
						width: 100%;

						@media( max-width: 1030px ){
							font-weight: bold !important;
						}
					}

					.itemTableTypeDes{
						max-width: 326px;
						width: 100%;
					}

					.tableItem{
						@media( max-width: 1030px ){
							height: 90px !important;
							position: relative;
							padding-left: 20px;
							padding-top: 15px;
							margin-bottom: 10px;
						}

						@media( max-width: 450px ){
							height: auto !important;
							padding: 15px 93px 15px 10px;
						}

						.itemTable{
							display: inline-block;
							float: left;
							margin: 0.5px;
							text-align: left;
							border-radius: 3px;
							padding: 8px;
							height: 40px;
							font-size: 12px;
							color: #111;
						    font-weight: 500;

						    .itemTableType{
									color: #999999 !important;
						    }

						    @media( max-width: 1030px ){
						    	float: none;
						    	margin: 0;
						    	display: block;
						    	max-width: 100% !important;
						    	border-radius: 0px;
						    	padding: 0;
						    	height: auto;

						    	.itemTableType{
									color: #999999 !important;
						    	}
						    }
						}
					}

				.itemOdd{
					@media( max-width: 1030px ){
						background-color: #ebebeb;;
					}

					.itemTableTypeDownload{
						background-color: #d5e540;

						@media( max-width: 1030px ){
							background: url("../images/downloadIcon2.png");

							a{
								display: block;
								width: 100%;
								height: 100%;
							}

							img{
								display: none;
							}
						}
					}
				}

				.itemEven{
					@media( max-width: 1030px ){
						background-color: #f6f6f6;
					}

					.itemTableTypeDownload{
						background-color: #e0ed68;

						@media( max-width: 1030px ){
							background: url("../images/downloadIcon2.png");

							img{
								display: none;
							}

							a{
								display: block;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.productDemand{
	margin-bottom: 120px;
	font-family: 'Open Sans', sans-serif;

	.productDemandContent{
		background-color: #6e26a5;
		padding: 20px;
		border-radius: 3px;
		max-width: 600px;
		margin: 0 auto;

		.productDemandTitle{
			color: $white;
			margin-top: 0px;
			margin-bottom: 5px;
			font-weight: bold;
			font-size: 20px;
		}

		.productDemandText{
			p{
				color: #a563d8;
				margin-bottom: 0;
				font-size: 14px;
			}
		}
	}
}


.productDemandDetailMobile{
	@media( max-width: 840px ){
		display: none  !important;
	}
}

.nonbindingOrderDetailMobile{
	@media( max-width: 840px ){
		display: inline-block !important;
		float: none;

		.nonbindingOrderContent{
			padding-left: 158px;
			text-align: left;
			margin-top: 10px !important;
			margin-bottom: 60px !important;

			span{
				text-align: left !important;
			}
		}
	}
}

.productDemandPage{
	font-family: 'Open Sans', sans-serif;

	.productDemandForm{
		padding-bottom: 100px;
		padding-top: 20px;

		@media( max-width: 600px ){
			padding-bottom: 0;
		}

		.alert {
			clear: both;
		}

		.help-block {
			text-align: left;
		}
	}

	.contactGroup{
		/*padding-left: 10px;*/

		@media(max-width: 1200px){
			padding-left: 0;
		}
	}

	.basicPostHeaderFilter{
		position: absolute;
		background-color: rgba(117, 59, 161, 0.8);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.productDemandPostHeader{
		background: url("../images/productdemand.png") center right no-repeat;
		background-size: cover;
		position: relative;
		min-height: 480px;
		background-position-y: -288px;

		@media( max-width: 1200px ){
			background-position-y: 0px;
		}


		@media( max-width: 1200px ){
			padding-bottom: 110px;
		}

		.productDemandPostHeaderTitle{
			font-size: 42px;
			color: $white;
			position: relative;
			z-index: 2;
			max-width: 820px;
			text-align: center;
			margin: 0 auto;
			line-height: 57px;
    		font-weight: lighter;
			margin-bottom: 30px;

			@media( max-width: 450px ){
				font-size: 25px;
				line-height: 35px;
			}
		}

		.text{
			position: relative;
			z-index: 2;
			max-width: 890px;
			text-align: center;
			margin: 0 auto;

			@media( max-width: 800px ){
				padding-left: 25px;
				padding-right: 25px
			}

			@media( max-width: 450px ){
				padding-left: 0px;
				padding-right: 0px;
			}

			p{
				font-size: 16px;
				color: $white;
				line-height: 28px;
				font-weight: lighter;
			}
		}
	}

	.checksection{
		margin-top: 160px !important;
		float: none !important;
		display: inline-block !important;

		@media( max-width: 650px ){
			float: none !important;
			margin-top: 50px !important;
		}
	}

	.contactInfomation{
		margin-right: 20px !important;

		@media(max-width: 1200px){
			margin: 0 auto !important;
		}
	}
}


.productUnboundDemandContent{
	display: inline-block;
	float: left;

	@media( max-width: 1200px ){
		display: initial;
		float: none;
	}

	.productDemandCarouselCover{
		width: 600px;
		display: inline-block;

		@media( max-width: 1200px ){
			margin: 0 auto;
		}

		@media( max-width: 650px ){
			width: 100%;
		}

		.owl-carousel{
			margin-top: -100px;

			@media( max-width: 1200px ){
				margin-top: -50px;
			}

			.owl-item{
				background: $white;
				border-radius: 9px;
			}

			.owl-nav{
				.owl-prev{
					text-indent: -9999px;
				    background: url(../images/prev.png) no-repeat;
				    background-position: center center;
				    height: 100%;
				    float: left;
				    width: 20px;
				    position: absolute;
				    top: 0;
				    left: 20px;
				    background-position-y: 100px;

				    @media( max-width: 650px ){
				    	left: 0px;
				    }
				}

				.owl-next{
					text-indent: -9999px;
				    background: url(../images/next.png) no-repeat;
				    background-position: center center;
				    height: 100%;
				    float: right;
				    width: 20px;
				    position: absolute;
				    top: 0;
				    right: 20px;
				    background-position-y: 100px;

				    @media( max-width: 650px ){
				    	right: 0px;
				    }
				}
			}

			.productItem{
				text-align: left;
				max-width: 600px;
				padding-left: 80px;
				padding-right: 40px;
				padding-top: 25px;
				padding-bottom: 90px;

				@media( max-width: 650px ){
					width: 100%;
					padding-left: 0px;
					padding-right: 0px;
				}

				.productDemandItemContent{
					position: relative;

					@media( max-width: 650px ){
						padding-left: 60px;
						padding-right: 60px;
					}

					@media( max-width: 450px ){
						padding-left: 20px;
						padding-right: 20px;
					}

					.demandCarouselImg{
						position: absolute;
						right: 0;
						top: 0;
						max-width: 315px;

						@media( max-width: 650px ){
							right: 40px;
						}

						@media( max-width: 535px ){
							max-width: 200px;
							top: 40px;
						}

						img{
							@media( max-width: 450px ){
								max-height: 135px;
							}
						}

						@media( max-width: 450px ){
							top: 110px;
						}
					}

					.productDemandItemTitle{
						font-size: 23px;
						font-weight: normal;
						text-align: left;
						color: #111;
						margin-top: 40px;
						max-width: 230px;
						line-height: 35px;
						margin-bottom: 160px;

						@media( max-width: 650px ){
							max-width: 135px;
							margin-bottom: 100px;
						}

						@media( max-width: 450px ){
							max-width: 100%;
							margin-bottom: 150px;
							font-size: 18px;
							line-height: 25px;
						}
					}

					.productDemandItemSubTitle{
						font-size: 13px;
						font-weight: normal;
						color: #99a9b3;
					}

					.productDemandText{
						font-size: 13px;
						font-weight: normal;
						color: #99a9b3;
						line-height: 26px;
					}
				}
			}
		}
	}
}

.productDemandForm{
	font-family: 'Open Sans', sans-serif;

	form{
		display: block;
		max-width: 1120px;
		width: 100%;
		margin: 0 auto;
		position: relative;

		@media( max-width: 1200px ){
			padding-left: 45px;
			padding-right: 45px;
		}

		@media( max-width: 450px ){
			padding-left: 20px;
			padding-right: 20px;
		}

		.checksection{
			max-width: 720px;
			margin: 0 auto;
			float: right;
    		margin-top: 170px;

			@media( max-width: 1200px ){
				max-width: 55%;
				float: left;
			}

			@media( max-width: 1100px ){
				position: static;
				max-width: 75%;
				float: none;
				padding-left: 20px;
				padding-right: 20px;
			}

			@media( max-width: 800px ){
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
				margin-top: 50px;
				margin-bottom: 70px;
			}

			@media( max-width: 450px ){
				padding-left: 0px;
				padding-right: 0px;
			}


			.btn{
				background-color: #6e26a5;
				font-size: 12px;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				letter-spacing: 1px;
			    padding: 16px 61px;
			    float: left;
			    margin-bottom: 20px;
			    text-transform: uppercase;

			    @media( max-width: 650px ){
			    	float: none;
			    	margin-top: 50px;
			    	margin-bottom: 100px;
			    }
			}
		}

		.form-check{
			width: 100%;
			display: block;
		}

		.form-check{
			width: 100%;
			display: block;
		}

		.form-check {
				min-height: 25px;
				height: auto;
				width: 100%;
				position: relative;
				border-radius: 3px;
				display: inline-block;
				margin-bottom: 20px;
				margin-top: 5px;

				.form-check-text{
					text-align: left;
					padding-left: 40px;
					padding-right: 90px;

					@media( max-width: 650px ){
						padding-right: 0;
					}

					a{
						text-decoration: underline;
						color: #00afe8;

						&:hover{
							color: #00afe8;
						}
					}
				}

				.checkcustom{
					position: absolute;
					margin-top: 0;
					left: 7px;
    				margin-top: 7px;
				}
		}

		.form-check label {
				display: block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				/*background: #a1dd38;*/
				background: $white;
				border: 2px solid #99a9b3;
				cursor: pointer;
				position: absolute;
				top: 0px;
				left: 0px;

				img{
					display: none;
					top: -100px;
				}

		}

		.form-check input[type=checkbox]:checked + label {
				img{
					display: block;
				    position: relative;
				    top: 9px;
				    text-align: center;
				    margin: 0 auto;
				}

				border: none;
				overflow: hidden;
				background: #a1dd38;
		}

		.form-check-text{
				font-size: 14px;
				color: #99a9b3;
				line-height: 20px;
				display: block;
		}

		.projectData{
			max-width: 320px;
			margin: 0 auto;
			display: inline-block;
			width: 33.33%;
			float: left;
			margin-right: 40px;

			@media( max-width: 1100px ){
				max-width: 49%;
				width: 100%;
				margin-right: 0;
				padding-left: 100px;
				padding-right: 20px;
			}

			@media( max-width: 1000px ){
				padding-left: 20px;
			}

			@media( max-width: 900px ){
				margin-left: 0;
				margin-right: 0;
			}

			@media( max-width: 650px ){
				float: none;
				display: block;
				max-width: 100%;
				margin: 0 auto;
				padding: 0;
				padding-top: 30px;
			}
		}

		.filesOfProject{
			max-width: 320px;
			margin: 0 auto;
			display: inline-block;
			width: 33.33%;
			float: left;
			margin-left: 40px;

			.form-control{
				padding: 0 !important;
			}

			@media( max-width: 1100px ){
				max-width: 49%;
				margin-left: 0px;
				width: 100%;
				padding-left: 20px;
				padding-right: 100px;
				/*float: right;*/
			}

			@media( max-width: 1000px ){
				padding-right: 20px;
			}

			@media( max-width: 900px ){
				margin-left: 0;
				margin-right: 0;
			}

			@media( max-width: 650px ){
				float: none;
				display: block;
				max-width: 100%;
				margin: 0 auto;
				padding: 0;
				padding-top: 30px;
			}
		}

		.placeOfProject{
			max-width: 320px;
			margin: 0 auto;
			display: inline-block;
			width: 33.33%;
			margin-left: 40px;
			margin-right: 40px;
			float: left;

			@media( max-width: 1100px ){
				max-width: 49%;
				width: 100%;
				padding-left: 20px;
				padding-right: 100px;
				margin-left: 0;
				margin-right: 0;
				/*float: right;*/
			}

			@media( max-width: 1000px ){
				padding-right: 20px;
			}

			@media( max-width: 900px ){
				margin-left: 0;
				margin-right: 0;
			}

			@media( max-width: 650px ){
				float: none;
				display: block;
				max-width: 100%;
				margin: 0 auto;
				padding: 0;
				padding-top: 30px;
			}
		}

		.contactInfomation{
			max-width: 485px;
			margin: 0 auto;
			float: left;
			margin-bottom: 60px;
			/*position: absolute;
			top: -390px;
			right: 0px;*/

			@media( max-width: 1200px ){
				position: relative;
				top: 0;
				margin: 0 auto;
				margin-top: 40px;
				float: none;
				display: block;
				width: 100%;
				padding-top: 0 !important;
			}

			.form-group:nth-child(even){
				margin-right: 20px !important;

				@media( max-width: 650px ){
					margin-right: 3% !important;
				}
			}

			.form-group{
				width: 100%;
				display: block;
			}

			.contactInfomationControl{
				display: inline-block;
				width: 47.5%;
				margin-bottom: 20px;
				vertical-align: top;

				@media( max-width: 650px ){
					width: 48%;
				}

				@media( max-width: 450px ){
					display: block;
					width: 100%;
				}
			}
		}

		.contactGroup{
			@media( max-width: 650px ){
				margin-left: 0;
				margin-right: 0;
				margin: 0 auto;
				padding-top: 45px;
			}

			.custom-file{
				text-align: left;
				margin-bottom: 20px;

				input{
					display: none;
				}

				.custom-file-label{
					margin-bottom: 0;
					font-size: 14px;
					color: #99a9b3;
					font-weight: normal;
					width: 100%;
					padding-left: 20px;
				    padding-top: 14px;
				    padding-bottom: 14px;
				}
			}

			.form-group{
				margin-bottom: 20px;
				position: relative;

				.selectdown{
					position: absolute;
					right: 0;
					top: 0;
					z-index: 10;
					width: 14px;
					height: 7px;
					background: $white;
				}

				/*select{
					background: url("../images/arrowdown.jpg") no-repeat;
				}*/
			}

			.productDemandFormTitle{
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
				color: #99a9b3;
				text-align: left;
				letter-spacing: 2px;
				margin-bottom: 18px;

				@media( max-width: 1200px ){
					margin-top: 0;
				}
			}

			.form-control{
				padding-left: 20px;
				padding-top: 14px;
				padding-bottom: 14px;
				height: auto;
				box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
				border: 1px solid #e6e6e6;
				font-size: 14px;
			    color: #99a9b3;
			    background: #fafafa;
			}

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    font-size: 14px;
			    color: #99a9b3;
			    opacity: 1; /* Firefox */
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    font-size: 14px;
			    color: #99a9b3;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    font-size: 14px;
			    color: #99a9b3;
			}
		}
	}
}

.flatHousePage{
	.flatHousePostHeader{
		background: url("../images/flathouse.png") center center no-repeat;
		background-size: cover;

		.basicPostHeaderFilter{
		    background-color: rgba(67, 110, 124, 0.8);
		}
	}
}

.flatHouseContent{
	margin-bottom: 45px;
	display: inline-block;
	float: left;
	margin-left: -30px;

	@media( max-width: 1200px ){
		margin-left: 0;
		float: none;
		display: initial;
	}

	.flatHouseCarouselCover{
		display: inline-block;

		.flatHouseSliderItem{
			padding: 20px 40px !important;

			.flatHouseSliderTitle{
				font-size: 23px;
				color: #111;
				text-align: center;
				width: 100%;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}

		.owl-carousel{
			.owl-nav{
				.owl-prev{
				 	background-position-y: 25px;

				 	@media( max-width: 650px ){
				 		left: 25px !important;
				 	}

				 	@media( max-width: 450px ){
				 		left: 0 !important;
				 	}
				}

				.owl-next{
				 	background-position-y: 25px;

				 	@media( max-width: 650px ){
				 		right: 25px !important;
				 	}

				 	@media( max-width: 450px ){
				 		right: 0px !important;
				 	}
				}
			}
		}
	}
}

.flatHouseTextCover{
	padding-top: 40px;
	position: relative;

	.owl-carousel{
		margin-top: -120px !important;
	}

	.flatHouseText{
		padding-bottom: 25px;

		p{
			float: left;
			width: 50%;
			margin-bottom: 0px;
			padding-bottom: 140px;
			padding-left: 35px;
			padding-right: 35px;
			text-align: left;
			font-size: 16px;
			color: #111;
		    line-height: 29px;

		    @media( max-width: 1200px ){
		    	position: static !important;
		    	display: block;
		    	width: 100%;
		    	padding-bottom: 50px;
		    	margin: 0 auto !important;
		    }

		    @media( max-width: 650px ){
		    	padding-bottom: 35px;
		    }

		    @media( max-width: 650px ){
				padding-left: 5px;
				padding-right: 5px;
		    }
		}
	}
}

.subPage{
	.sectionMainTitleBorder{
		margin-bottom: 60px;
	}

	.subPostHeader{
		min-height: 420px !important;
		height: 420px;
		background-position: center -80px;
	}

	.faqPostHeader{
		background: url("../images/support.png") no-repeat;
		background-size: cover;
	}

	.supportPostHeader{
		background: url("../images/support.png") no-repeat;
		background-size: cover;
	}

	.searchForm{
		position: absolute;
		bottom: 60px;
		left: 50%;
    	margin-left: -300px;

    	@media( max-width: 700px ){
    		margin-left: -220px;
    	}

    	@media( max-width: 480px ){
    		margin-left: -155px;
    	}

		.searchCoverControl{
			width: 600px;
			position: relative;
			margin: 0;

			@media( max-width: 700px ){
    			width: 440px;
    		}

    		@media( max-width: 480px ){
    			width: 310px;
    		}

    		.tt-menu {
    			width: 100%;
    			background: white;
    			padding: 10px;
    			box-shadow: 0px 2px 3px rgba(64, 64, 64, 0.25);

    			.answer {
    				padding: 10px;

    				&:not(:last-child) {
    					border-bottom: 1px solid #f5f5f5;
    				}

    				strong {
    					display: block;
    				}
    			}
    		}

			.btn{
				position: absolute;
				z-index: 5;
				top: 0;
				right: 0;
				font-size: 14px;
				color: $white;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
				background: #004c6d;
				box-shadow: none;
				height: 60px;
				width: 170px;
				border-radius: 10px;
				padding-right: 0;

				@media( max-width: 480px ){
    				width: 100px;
    			}
			}

			.form-control{
				height: 60px;
				width: 440px;
				position: relative;
				z-index: 10;
				border-radius: 10px 0px 00px 10px;

				@media( max-width: 700px ){
    				width: 280px;
    			}

    			@media( max-width: 480px ){
    				width: 220px;
    			}
			}
		}
	}

	.subPostHeaderFilter{
		height: 60px;

		@media( max-width: 465px ){
			height: 120px;
		}

		background-color: rgba(255, 255, 255, 0.9);

		.postHeaderContent{
			padding: 0 25px;

			@media( max-width: 600px ){
				padding: 0 50px;
			}

			@media( max-width: 525px ){
				padding: 0 20px;
			}

			.subPostHeaderTitle{
				margin: 0;
				line-height: 60px;
				font-size: 30px;
				color: $black;
				display: inline-block;
			}

			.subPostHeaderList{
				display: inline-block;
				float: right;
				height: 60px;

				@media( max-width: 465px ){
					float: none;
					display: block;
				}

				.menu{
					font-family: 'Montserrat', sans-serif;

					li{
						a{
							font-size: 10px;
							color: #111111;
							line-height: 60px;
							font-weight: bold;
							text-transform: uppercase;
							padding-left: 9px;
							display: block;
							text-align: right;

							&:after{
								content: " | ";
								color: #111111 !important;
								margin-left: 9px;
							}

							@media( max-width: 500px ){
								&:after{
									content: " ";
									margin-left: 0;
								}

								padding: 0 5px !important;
							}
						}

						.selected{
							color: $light-blue !important;
						}

						&:last-child{
							a:after{
								content: " " !important;
							}
						}

						&:first-child{
							@media( max-width: 465px ){
								a{
									padding-left: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	.subPageContent{
		padding-top: 35px;

		.scroll-content-cover{
			width: 100%;
			transition: all 0.5s;
		}

		.open-content{
			display: none;
		}

		.scroll-content-cover-opened{
			background: #f5f5f5;
			transition: all 0.5s;
		}

		.scroll-content{
			font-family: 'Open Sans', sans-serif;
			width: 100%;
			padding: 0;
			padding-bottom: 110px;

			.section-title{
				font-size: 20px;
				color: #000;
				position: relative;
				margin: 0;
			    min-height: 60px;
			    max-width: 1120px;
			    margin: 0 auto;
			    padding-left: 100px;
			    padding-right: 135px;
			    padding-top: 20px;
			    line-height: 30px;
			    padding-bottom: 15px;
			    cursor: pointer;

			    @media( max-width: 700px ){
			    	padding-right: 104px;
			    }

			    @media( max-width: 500px ){
			    	padding-left: 50px;
			    	padding-right: 50px;
			    }

			    @media( max-width: 450px ){
			    	padding-left: 35px;
			    	padding-right: 15px;
			    	font-size: 18px;
			    	line-height: 25px;
			    }

				span{
					font-weight: bold;
					color: $light-blue;
					/*margin-right: 7px;
					position: absolute;
					left: -25px;*/
					width: 50px;
					display: inline-block;
					text-align: right;
					margin-left: -50px;
					padding-right: 7px;
				}
			}

			.section-container{
				p{
					font-size: 14px;
					color: #111;
					line-height: 23px;
					margin: 0 auto;
					max-width: 1120px;
					padding-bottom: 40px;
					padding-left: 100px;
					padding-right: 135px;

					@media( max-width: 700px ){
			    		padding-left: 135px;
			    		padding-right: 85px;
			    	}

			    	@media( max-width: 500px ){
			    		padding-left: 50px;
			    		padding-right: 50px;
			    	}

			    	 @media( max-width: 450px ){
			    		padding-left: 35px;
			    		padding-right: 15px;
			    	}
				}
			}
		}
	}
}

.contentTitle{
	font-size: 30px;
	font-weight: lighter;
	color: #111;
	text-align: center;
	margin-top: 40px;
}

.supportPage{
	padding-bottom: 40px;

	.subPageContent{
		padding-top: 0;
		clear: both;

		@media( max-width: 1200px ){
			padding-top: 40px;
		}
	}

	.checksection {
		margin-top: 20px !important;
	}

	.productDemandForm{
		padding-bottom: 0;
		form{
			.checksection{
				margin-top: 0;
				float: left;
			}
		}
	}

	.alert {
		margin-top: 10px;
		width: 100%;
	}
}

.supportContent{
	padding-top: 40px;
	width: 100%;

	.productDemandCarouselCover{
		display: inline-block;

		@media (max-width: 1200px){
			margin: 0 auto;
			display: block;
		}

		.basicTitle{
			font-family: 'Montserrat', sans-serif;
		    font-weight: bold;
		    text-transform: uppercase;
		    font-size: 14px;
		    color: #99a9b3;
		    text-align: left;
		    letter-spacing: 2px;
		    margin-bottom: 18px;
		    margin-top: 20px;

		    @media( max-width: 1200px ){
		    	padding-left: 60px;
		    }
		}

		.owl-carousel{
			margin-top: 0;

			.productItem{
				.productDemandItemContent{
					.productDemandItemTitle{
						font-size: 36px;
						text-transform: uppercase;
						margin-top: 75px;
					}

					.productDemandItemSubTitle{
						font-size: 10px;
						color: #99a9b3;
						text-transform: uppercase;
						font-family: 'Montserrat', sans-serif;
						font-weight: bold;
						letter-spacing: 2px;
						position: absolute;
						top: 35px;
					}

					.demandCarouselImg{
						max-width: 200px;
						right: 20px;

						@media( max-width: 500px ){
							max-width: 140px;
						}
					}
				}
			}
		}
	}

	.productDemandForm{
		float: right;

		@media( max-width: 1200px ){
			float: none;
		    display: block;
		    margin: 0 auto;
		}

		form{
			.contactInfomation{
				position: static;
				display: inline-block;

				@media( max-width: 1200px ){
					position: relative;
					display: block;
					margin-top: 0;
				}
			}

			.checksection{
				position: static;

				@media( max-width: 1200px ){
					margin-left: 0;
					margin-top: 20px;
					padding: 0;
				}

				button{
					margin-top: 10px;
					margin-bottom: 0;
				}
			}
		}
	}
}

.aboutUsPage{
	font-family: 'Open Sans', sans-serif;

	.postHeaderContent{
		padding-left: 45px;
		padding-right: 45px;

		@media( max-width: 450px ){
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.aboutUsPostHeader{
		padding-top: 190px;
		padding-bottom: 220px;
		background: url("../images/aboutus.png") top center no-repeat;
		background-size: cover;

		.basicPostHeaderTitle{
			font-size: 50px;
			color: $white;
			font-weight: normal;
			text-align: center;
			margin-top: 0;
			margin-bottom: 45px;

			@media( max-width: 450px ){
				font-size: 30px;
				margin-bottom: 40px;
			}
		}

		.text{
			p{
				font-size: 20px;
				color: $white;
				text-align: center;
				line-height: 33px;

				@media( max-width: 450px ){
					font-size: 16px;
					line-height: 25px;
				}
			}
		}
	}

	.aboutUsPageContent{
		@media( max-width: 1000px ){
			padding-left: 45px;
			padding-right: 45px;
		}

		@media( max-width: 450px ){
			padding: 0 20px !important;
		}

		.contentText{
			max-width: 880px;
			display: block;
			margin: 0 auto;
			padding-top: 90px;

			@media( max-width: 450px ){
				padding-top: 40px;
			}

			p{
				font-size: 16px;
				color: #111;
				margin-bottom: 35px;
				text-align: left;
				line-height: 28px;
			}
		}
	}

	.midContent{
		@media( max-width: 1000px ){
			margin-top: 150px;
		}

		.aboutUsImg{
			@media( max-width: 1000px ){
				margin-left: -45px;
				margin-right: -45px;
				height: 385px;
			}

			@media( max-width: 500px ){
				margin-left: 0px;
				margin-right: 0px;
				float: none;
			}

			padding: 0;
			margin-left: -160px;
			overflow: hidden;
			height: 640px;

			.aboutUsImgCover{
				background: url("../images/aboutusimg.png") center center;
				background-size: cover;
				width: 100%;
				height: 100%;
			}
		}

		.contentText{
			padding: 0;
			padding: 30px;
			padding-right: 50px;

			@media( max-width: 1000px ){
				padding-left: 0;
				padding-right: 0;
			}
		}

		.contentTitle{
			text-align: left;
			margin-top: 0;
			margin-bottom: 15px;

			@media( max-width: 1000px ){
			    position: absolute;
    			top: -450px;
    			left: 0;
			}
		}
	}

	.ourTeam{
		.ourTeamList{
			padding-left: 50px;
			padding-right: 50px;
			max-width: 1280px;
			margin: 0 auto;
			margin-bottom: 130px;

			@media( max-width: 880px ){
				margin-bottom: 20px;
			}

			@media( max-width: 450px ){
				padding-left: 20px;
				padding-right: 20px;
			}

			li{
				@media( max-width: 1000px ){
					margin-bottom: 50px;
				}

				@media( max-width: 880px ){
					float: none;
					padding: 0;
					display: block;
				}
			}

			.ourTeamItem{
				max-width: 360px;
				float: none;
				display: block;
				margin: 0 auto;
				font-family: 'Montserrat', sans-serif;

                .memberPic {
					width: 100%;
					max-width: 300px;
					margin: 0 auto;
					display: block;
					height: auto;
					background-size: cover !important;
					background-position: center center !important;
                }

				.ourTeamItemContent{
					position: relative;
					padding-top: 35px;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 20px;
					height: 370px;

					@media( max-width: 460px ){
						height: auto;
						padding-bottom: 40px;
					}

					.memberName{
						font-size: 30px;
						color: #111;
						margin-top: 0;
						margin-bottom: 10px;
						text-align: left;
					}

					.memberRole{
						font-size: 12px;
						color: #99a9b3;
						margin: 0;
						text-align: left;
						text-transform: uppercase;
					}

					.contentText{
						margin: 0;
						padding: 0;

						p{
							font-size: 14px;
							color: #111;
							text-align: left;
							line-height: 22px;
							margin-top: 25px;
						}
					}

					.memberMail{
						position: absolute;
						bottom: 20px;
						left: 20px;
						font-size: 14px;
						color: #99a9b3;
						text-align: left;
						font-family: 'Open Sans', sans-serif;
					}
				}
			}
		}
	}
}

.scrollup {
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 9999;
    bottom: 40px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    /*background: url("../images/Arrow_top.png");*/
    border-top: 8px solid #111;
    border-left: 8px solid #111;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);

    @media( max-width: 750px ){
    	right: 30px;
    	width: 30px;
    	height: 30px;
    }
}

div.blog-pagination, div.my-pagination {
	width: 100%;
	text-align: center;

	a {
		color: #03b1ec;
	}

	.active .page-link {
	    background-color: #03b1ec !important;
		border-color: #03b1ec !important;
	}
}

.blogPage{
	.blogPostHeader{
		background: none;
		height: 480px !important;

		.subPostHeaderFilter{
			height: 100%;
			background-color: #f3f3f3;

			.postHeaderContent{
				height: 100%;

				.subPostHeaderTitle{
					display: block;
					text-align: center;
					font-size: 50px;
				    margin-top: 75px;
				    margin-bottom: 0px;
				}

				.subPostHeaderList{
					float: none;
				    display: block;
				    text-align: center;

				    .menu{
				    	li{
				    		float: none;
				    		display: inline-block;

				    		a{
				    			font-size: 11px;
				    		}
				    	}
				    }
				}
			}
		}
	}

	.blogContent{
		position: relative;
		z-index: 99;
		margin-top: -240px;
		margin-bottom: -300px;

		.blogItemList{
			position: relative;

			@media( max-width: 1200px ){
				margin: 0 auto;
				text-align: center;
			}

			.blogGrad{
				height: 240px;
				position: absolute;
				bottom: 280px;
				width: 100%;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+16,ffffff+16,ffffff+23&0+0,1+44 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.36) 16%, rgba(255,255,255,0.52) 23%, rgba(255,255,255,1) 44%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.36) 16%,rgba(255,255,255,0.52) 23%,rgba(255,255,255,1) 44%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.36) 16%,rgba(255,255,255,0.52) 23%,rgba(255,255,255,1) 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}

			.blogItem{
				display: inline-block;
				width: 33%;
				float: left;
				font-family: 'Open Sans', sans-serif;
				max-width: 360px;
				margin-bottom: 40px;

				@media( max-width: 1200px ){
					width: 100%;
					float: none;
					margin: 0 20px 40px 20px !important;
				}

				@media( max-width: 500px ){
					margin: 0 0 40px 0 !important;
				}

				.blogItemPic{
					width: 100%;
					height: 240px;
					position: relative;
					background-size: cover !important;
					background-position: center center;
					background-repeat: no-repeat !important;
					border-radius: 8px 8px 0 0;

					a{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
				}

				.blogItemContent{
					padding: 9px 20px 10px 9px;
					border-radius: 0 0 8px 8px;
					max-height: 240px;
					height: 240px !important;
					background-color: $white;

					span{
						font-family: 'Montserrat', sans-serif;
						font-size: 11px;
						color: #99a9b3;
						text-align: left;
						margin: 0;
						text-transform: uppercase;
						font-weight: bold;
						letter-spacing: 1px;
					}

					.blogItemTitle{
						font-size: 24px;
						color: #1e282e;
						text-align: left;
						width: 100%;
						margin-top: 10px;
						margin-bottom: 20px;
						line-height: 30px;
						display: block;
					}

					.blogItemText{
						p{
							font-size: 14px;
							color: #5f6d75;
							text-align: left;
							line-height: 20px;
							padding-bottom: 20px;
							border-bottom: 1px solid #f7f7f7;
							margin-bottom: 20px;
							display: inline-block;
						}
					}

					.blogItemFooter{
						.blogItemCat{
							display: inline-block;

							@media( max-width: 400px ){
								float: left;
							}

							.blogCat{
								font-family: 'Montserrat', sans-serif;
								font-weight: bold;
								color: $white;
								font-size: 11px;
								float: left;
								margin-right: 10px;
								padding: 6px 13px 6px 13px;
								border-radius: 5px;
							}

							.blogCatBlue{
								background-color: #00afe8;
							}

							.blogCatOrange{
								background-color: #ffc20e;
							}

							.blogCatGreen{
								background-color: #49cf7a;
							}
						}

						.blogItemSocial{
							float: right;

							a {
								margin-left: 15px;
								color: #e2e2e2;
								font-size: 14px;
								font-weight: bold;
								padding-top: 9px;
								display: inline-block;
								padding-bottom: 5px;

								img{
									position: relative;
									top: -3px;
									margin-right: 7px;
								}

								span {
									color: inherit;
									font: inherit;
									position: relative;
									top: -2px;
								}
							}
						}
					}
				}
			}

			.blogItem:nth-child(3n+2){
				margin-left: 40px;
				margin-right: 40px;
			}
		}
	}
}

.loginSection{
	font-family: 'Open Sans', sans-serif;
	float: left;
	width: 55%;
	padding-left: 150px;
    padding-right: 140px;
    padding-top: 140px;

    @media( max-width: 1290px ){
    	padding-left: 80px;
    	padding-right: 80px;
    }

    @media( max-width: 990px ){
    	padding-left: 50px;
    	padding-right: 50px;
    	padding-top: 50px;
    }

    @media( max-width: 780px ){
    	padding-left: 25px;
    	padding-right: 25px;
    	padding-top: 50px;
    }

    @media( max-width: 450px ){
    	padding-left: 15px;
    	padding-right: 15px;
	}

	.loginTitle{
		font-size: 62px;
		color: #fff;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 25px;
		text-align: left;

		span{
			font-weight: normal;
		}

		@media( max-width: 780px ){
			font-size: 40px;
		}

		@media( max-width: 400px ){
			font-size: 25px;
		}
	}

	.loginText{
		max-width: 710px;

		p{
			color: #e8edf0;
			font-size: 14px;
			margin-bottom: 20px;
			text-align: left;

			a{
				color: #e8edf0;
				font-size: 14px;
				margin-bottom: 20px;
				text-align: left;
				text-decoration: underline;
			}
		}
	}

	.loginForm{
		form{
			display: inline-block;
			position: relative;
			margin-top: 65px;

			.form-group{
				display: inline-block;
				margin-right: 20px;

				@media( max-width: 1290px ){
					float: left;
					width: 50%;
					margin-right: 0;
					padding-right: 20px;
					min-width: 185px !important;
				}

				@media( max-width: 990px ){
					float: none;
					width: 100%;
					display: block;
				}

				@media( max-width: 450px ){
					min-width: 150px !important;
					padding-right: 0px;
				}

				@media( max-width: 400px ){
					min-width: 130px !important;
				}
			}

			.form-group:nth-child(n+2){
				margin-right: 0;

				/*@media( max-width: 1290px ){
					padding-right: 0;
				}*/
			}

			.form-control{
				padding-left: 20px;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    height: auto;
			    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
			    border: 1px solid #fff;
			    font-size: 14px;
			    color: #0088b4;
			    background: transparent;
			    border-radius: 0;
			    max-width: 240px;
			    display: inline-block;

			    @media( max-width: 1290px ){
			    	width: 100%;
			    }
			}

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				font-size: 14px;
			    color: #0088b4;
			    opacity: 1; /* Firefox */
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
				 font-size: 14px;
			    color: #0088b4;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    font-size: 14px;
			    color: #0088b4;
			}

			.btn{
				display: block;
				font-family: 'Montserrat', sans-serif;
				background-color: transparent;
				border-radius: 0;
				border: none;
				text-transform: uppercase;
				color: #e8edf0;
				font-size: 14px;
				padding-left: 0;
				font-weight: bold;
				letter-spacing: 2px;
			}

			.lostPassSec{
				position: absolute;
				bottom: 6px;
				right: 0;

				@media( max-width: 1290px ){
					right: 20px;
				}

				@media( max-width: 990px ){
					left: 0px;
					bottom: -20px;
					right: initial;
				}

				@media( max-width: 500px ){
					position: static;
				}
			}

			a{
				font-size: 12px;
				color: #e8edf0;
				display: inline-block;

				&:after{
					content: " | ";
					font-size: 12px;
					color: #e8edf0;

					@media( max-width: 400px ){
						content: " ";
					}
				}

				@media( max-width: 400px ){
					display: block;
				}
			}

			a:last-child{
				&:after{
					content: "";
				}
			}
		}
	}
}

#loadMore {
    padding: 10px;
    position: absolute;
    text-align: center;
    bottom: 420px;
    background-color: #6e26a5;
    color: #fff;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    display: block;
    min-height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    left: 50%;
    margin-left: -80px;
    min-width: 160px;
}

.blogPage{
	.blogContent{
		.blogItemList{
			.blogItem{
				display: none;
			}
		}
	}
}

.blogDetailPage{
	font-family: 'Open Sans', sans-serif;
	background: $white;

	.blogDetailContent{
		padding-top: 35px;

		.detailDate{
			p{
				font-size: 14px;
				color: #9f9f9f;
				margin: 0;
				text-align: center;
			}
		}

		.blogDetailTitle{
			font-size: 42px;
			text-align: center;
			display: block;
			color: #000;
			margin: 0 auto;
    		max-width: 640px;
    		margin-top: 40px;
    		margin-bottom: 45px;
    		line-height: 65px;

    		@media( max-width: 1000px ){
    			padding-left: 45px;
    			padding-right: 45px;
    		}

    		@media( max-width: 500px ){
    			padding-left: 20px;
    			padding-right: 20px;
    			font-size: 25px;
    			line-height: 35px;
    		}
		}

		.writtenBySec{
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 60px;

			.blogAuthor{
				font-size: 12px;
				color: #aeb1b4;
				display: inline-block;
				margin-right: 4px;
			}

			.writtenBy{
				font-size: 12px;
				color: #757575;
				text-transform: uppercase;
				display: inline-block;
				font-weight: bold;
				margin-right: 50px;

				@media( max-width: 600px ){
					margin-right: 0;
				}
			}

			.blogItemSocial{
				display: inline-block;

				a{
					font-size: 12px;
					font-family: 'Montserrat', sans-serif;
					font-weight: bold;
					color: #757575;
					margin-left: 20px;

					img{
						margin-right: 3px;
					}
				}

				@media( max-width: 600px ){
					display: block;
					float: none;
					margin-top: 10px;

					a{
						margin: 0 8px;
					}
				}
			}
		}

		.blogDetailText{
			display: block;
			max-width: 880px;
			margin: 0 auto;

			@media( max-width: 1000px ){
    			padding-left: 45px;
    			padding-right: 45px;
    		}

    		@media( max-width: 450px ){
    			padding-left: 20px;
    			padding-right: 20px;
    		}

			p{
				font-size: 16px;
				text-align: left;
				line-height: 35px;
				margin-bottom: 10px;
				color: #111111;
			}

			.videoTitle{
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				font-size: 11px;
				color: #111111;
				letter-spacing: 2px;
				margin-bottom: 8px;
				display: block;
				margin-top: 80px;

				@media(max-width: 800px){
		    		margin-top: 60px;
		    	}
			}
		}

		.videoSec{
			margin-bottom: 50px;

			.videoCover{
				position: relative;
				padding-bottom: 36.25%; /* 56.25% - 16:9 */
				padding-top: 25px;
				height: 0;

				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		.postVideoText{
			.blogDetailText{
				p{
					float: left;
					width: 50%;
				}

				p:nth-child(even){
					padding-left: 35px;
				}

				p:nth-child(odd){
					padding-right: 35px;
				}
			}

			@media( max-width: 880px ){
				.blogDetailText{
					p{
						float: none;
						width: 100%;
						padding-left: 0px !important;
						padding-right: 0px !important;
					}
				}
			}
		}
	}


	.gallerySlider{
		max-width: 880px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 120px;

		.sliderTitle{
			font-weight: bold;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 11px;
		    color: #111;
		    margin-top: 80px;
		    font-weight: bold;
		    text-transform: uppercase;
		    letter-spacing: 2px;

		    @media(max-width: 800px){
		    	margin-top: 60px;
		    }
		}

		.gallerySliderCover{
			#blogDetailCarousel{
				.item{
					position: relative;
					height: 480px;
					background-size: cover !important;

					.blogDetailCarouselContent{
						position: absolute;

						@media( max-width: 600px ){
							display: none;
						}

						h4{
							font-size: 12px !important;
							color: $white !important;
							display: inline-block;
							font-weight: bold;
						}

						span{
							font-size: 12px;
							color: $white;
							font-weight: bold;
							display: inline-block;
							padding-left: 4px;

							&:before{
								content:"/";
								padding-right: 4px;
							}
						}
					}

					.blogDetailCarouselContent{
						position: absolute;
						bottom: 27px;
						right: 80px;
					}
				}

				.owl-nav{
					position: absolute;
					bottom: 25px;
					right: 40px;

					@media( max-width: 600px ){
						display: none;
					}

					.owl-prev{
						text-indent: -9999px;
						background: url('../images/prevS.png') no-repeat center center;
						width: 25px;
						margin-right: 25px;
					}

					.owl-next{
						text-indent: -9999px;
						background: url('../images/nextS.png') no-repeat center center;
						width: 25px;
						margin-left: 25px;
					}
				}

				.owl-dot{
					display: none;
				}
			}
		}

		@media( max-width: 1000px ){
			padding-left: 45px;
			padding-right: 45px;
		}

		#carousel-example-generic{
			.carousel-control{
				box-shadow: none;
				background: transparent;
				opacity: 1;
				width: 25px;
				position: absolute;
				height: 35px;
				bottom: 30px;
				top: initial;
			}

			.left{
				img{
					position: absolute;
					left: 200px;
				}
			}

			.right{
				margin-left: 80%;
			}
		}

		.carousel-inner{
			.item{
				height: 480px;

				.itemBackground{
					width: 100%;
					height: 100%;
					background-size: cover !important;
				}
			}
		}

		.carousel-indicators-numbers {
			width: auto;
    		margin: 0;
    		bottom: 30px;
    		left: initial;
    		right: 80px !important;

    		.shown{
    			display: inline-block !important;

    			&:before{
    				content: " / ";
    				padding-right: 3px;
    			}
    		}

    		.active{
    			display: inline-block !important;
    			width: auto !important;
    			height: auto !important;
    		}

		    li {
		      text-indent: 0;
		      margin: 0 2px;
		      width: auto !important;
		      height: auto !important;
		      border: none;
		      border-radius: 100%;
		      line-height: 30px;
		       display: none;
		      color: #fff;
		      background: transparent;
		      transition: all 0.25s ease;
		      font-size: 12px;
		      font-weight: bold;
		      font-family: 'Montserrat', sans-serif;

			    &.active, &:hover {
			        margin: 0 2px;
			        width: 30px;
			        height: 30px;
			        display: block;
			        background: transparent;
			    }
		    }
		}
	}

	.comentSection{
		background: #f8f8f8;
		width: 100%;

		.coments{
			max-width: 880px;
			width: 100%;
			margin: 0 auto;
			margin-top: 40px;
			padding-bottom: 85px;

			@media( max-width: 1000px ){
				padding-left: 45px;
				padding-right: 45px;
				padding-bottom: 25px;
			}

			@media( max-width: 500px ){
				padding-left: 30px;
				padding-right: 30px;
			}

			@media( max-width: 450px ){
				padding-left: 20px;
				padding-right: 20px;
			}

			.yourcoment{
				.comentContent{
					border: none !important;
				}
			}

			.coment{
				position: relative;

				.coment{
					padding-left: 40px;

					@media( max-width: 450px ){
						padding-left: 0px;
						margin-left: -35px;
					}

					.comentContent{
						border: none;
						padding-bottom: 0;
					}
				}

				.comentImage{
					width: 65px;
					height: 65px;
					border-radius: 50%;
					overflow: hidden;
					background-position: center center !important;
					float: left;
					margin-top: 45px;

					@media( max-width: 500px ){
						-ms-transform: scale(0.8, 0.8); /* IE 9 */
					    -webkit-transform: scale(0.8, 0.8); /* Safari */
					    transform: scale(0.8, 0.8);
					}

					@media( max-width: 450px ){
						position: absolute;
						left: 0;
						top: 0;
					}
				}

				.comentContent{
					font-family: 'Open Sans', sans-serif;
					margin-left: 80px;
					border-bottom: 1px solid #e9e9e9;
					padding-top: 45px;
					padding-bottom: 45px;

					@media( max-width: 500px ){
						margin-left: 70px;
					}

					.comentAuthor{
						font-family: 'Montserrat', sans-serif;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 14px;
						color: #111;
						display: inline-block;
						margin: 0;
					}

					.comentTime{
						margin: 0;
						font-size: 12px;
						color: #99a9b2;
						display: inline-block;
						float: right;
					}

					.comentText{
						display: block;

						p{
							font-size: 14px;
							color: #99a9b2;
							line-height: 25px;
							margin-top: 13px;
						}
					}

					form{
						.checksection{
						    .btn{
						    	background-color: #6e26a5;
							    font-size: 12px;
							    font-family: 'Montserrat', sans-serif;
							    font-weight: bold;
							    letter-spacing: 1px;
							    padding: 20px 40px;
							    float: left;
							    color: $white;
							    margin-bottom: 0px;
							    text-transform: uppercase;
							    float: right;
						    }
						}

						.form-control{
							background: #f0f0f0;
							border: none;
							box-shadow: none;
							padding: 20px 30px;
							min-height: 130px;
							margin-bottom: 30px;
							margin-top: 25px;
						}
					}

					.comentFooter{
						.comentLike{
							font-size: 12px;
							color: #99a9b3;
							font-weight: bold;
							font-family: 'Montserrat', sans-serif;
							margin-right: 20px;

							img{
								margin-right: 8px;
							}
						}

						.comentAns{
							color: #99a9b3;
							font-size: 13px;

							img{
								margin-right: 8px;
							}
						}
					}
				}
			}
		}

		.comentSectionHeader{
			width: 100%;
			border-top: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			margin: 0 auto;

			@media( max-width: 860px ){
				padding-left: 45px;
				padding-right: 45px;
				position: relative;
			}

			.container{
				max-width: 880px;
				padding: 0;
			}

			.leftcontent{
				display: inline-block;
				float: left;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				color: #111;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 2px;
				line-height: 75px;

				span{
					margin-left: 30px;
					font-size: 10px;
					color: $white;
					display: inline-block;
					line-height: 10px;
					background: #99a9b2;
					padding: 9px;
					border-radius: 50%;
				}
			}

			.rightContent{
				display: inline-block;
				float: right;
				line-height: 75px;

				@media( max-width: 860px ){
					position: absolute;
					right: 45px;
					bottom: 100px;
				}

				@media( max-width: 450px ){
					position: static;
					line-height: 45px;
				}

				.leftcontentLink{
					background: #bada55;
					text-align: right;
					font-size: 12px;
					color: $white;
					display: inline-block;
					width: 90px;
					margin-left: 5px;
					line-height: 35px;
					padding-right: 13px;
					position: relative;
					border-radius: 3px;
					font-family: 'Open Sans', sans-serif;

					img{
						position: absolute;
						left: 10px;
						bottom: 9px;
					}
				}

				.leftcontentLinkBlue{
					background: #3b5998;
				}

				.leftcontentLinkLightBlue{
					background: #00abf0;
				}

				.leftcontentLinkRed{
					background: #dd4b39;
				}
			}
		}
	}
}

.contactPage{
	@media(max-width: 780px){
		display: flex;
		flex-direction: column;
	}

	.contact{
		padding-top: 0;

		.contactMap{
			@media( max-width: 1000px ){
				margin-bottom: 20px;
			}

			@media(max-width: 780px){
				margin-bottom: 0;
			}
		}

		@media(max-width: 780px){
			order: 2;
			width: 100%;
		}
	}

	.sectionMainTitle{
		margin-top: 70px;
	}

	.productDemandForm{
		max-width: 1120px;
		margin: 0 auto;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 90px;

		@media( max-width: 1140px ){
			padding-top: 20px;
			padding-left: 40px;
			padding-right: 40px;
		}

		@media(max-width: 780px){
			order: 1;
			width: 100%;
		}

		@media( max-width: 660px ){
			padding-bottom: 0;
		}

		.contactTextSection{
			display: inline-block;
			max-width: 500px;
			float: left;
			padding-top: 53px;

			@media( max-width: 1140px ){
				display: block;
				float: none;
				margin: 0 auto;
				padding-top: 0;
			}

			.contactText{
				p{
					font-size: 16px;
					color: #111;
					line-height: 27px;
					margin-bottom: 90px;

					@media( max-width: 1140px ){
						margin-bottom: 0;
					}

					@media(max-width: 800px){
						margin-bottom: 50px;
					}

					a{
						font-size: 16px;
						color: #00afe8;
					}
				}
			}
		}

		form{
			display: inline-block;
			width: auto;
			float: right;

			@media( max-width: 1140px ){
				display: block;
				float: none;
				margin: 0 auto;
			}

			@media( max-width: 660px ){
				padding-left: 0;
				padding-right: 0;
			}

			.contactInfomation{
				position: static;

				@media( max-width: 1140px ){
					margin-top: 40px;
				}

				@media( max-width: 660px ){
					max-width: 100% !important;
					margin-top: 0px;
				}
			}

			.form-group:nth-child(odd){
				margin-right: 20px !important;
			}

			.form-group:nth-child(odd){
				@media( max-width: 660px ){
					margin-right: 2% !important;
				}
			}

			.form-group:nth-child(even){
				margin-right: 0px !important;
			}

			#exampleFormControlSelect1{
				color: #111;
			}

			.checksection{
				margin-top: 10px;
				float: none;
				max-width: 480px;
				margin: 0 auto;

				@media(max-width: 780px){
					padding-left: 0;
					padding-right: 0;
				}

				@media(max-width: 660px){
					padding-top: 0 !important;
					padding-left: 0;
					padding-right: 0;
					max-width: 100%;
				}

				.btn{
					@media( max-width: 660px ){
						display: block;
						margin: 0 auto;
						margin-top: 50px !important;
						margin-bottom: 70px !important;
					}
				}
			}
		}
	}
}

select.form-control{
	height: 49px !important;
}

textarea.form-control{
	max-width: 100%;
}

.blueArrowDwn{
	display: inline-block;

	@media( max-width: 1100px ){
		display: none;
	}
}

.whiteArrowDwn{
	display: none;

	@media( max-width: 1100px ){
		display: inline-block;
	}
}